@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --text-size: 1.1rem;
  --title-size: 1.3rem;
  --black: #000;
  --white: #dcdbdb;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.random {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  bottom: 15px;
  right: 0;
}
* {
  box-sizing: border-box;
}

.margin-bottom {
  margin-bottom: 26px;
}
.pad {
  margin-bottom: 26px;
}
.margin-bottom-less {
  margin-bottom: 400px;
}
.randomlink {
  color: var(--black);
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 400;
  padding: 0px;
  padding-right: 5px;

  margin: 0;
}
.footer {
  position: relative;

  margin: 0;
  padding: 0;
  height: 100%;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */

.wrapper {
  height: auto;
  width: 100%;
  position: relative;
  font-size: 0;
}
.maincontainer {
  padding: 16px;
  /*   width: 100vw;
  height: 100vh; */

  gap: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.imgfix {
  height: 110%;
  width: 110%;
}
.imglink {
  background-color: gainsboro; /* To visualize empty space */
  aspect-ratio: 16/9;
  /*
    "contain" to see full original image with eventual empty space
    "cover" to fill empty space with truncating
    "fill" to stretch
  */
  object-fit: cover;
  width: 100%;
  height: auto;
}

.image {
  /* To visualize empty space */
  aspect-ratio: 16/9;
  /*
    "contain" to see full original image with eventual empty space
    "cover" to fill empty space with truncating
    "fill" to stretch
  */
  object-fit: cover;
  width: 100%;
  height: auto;
}
.image-portrait {
  background-color: gainsboro; /* To visualize empty space */

  /*
    "contain" to see full original image with eventual empty space
    "cover" to fill empty space with truncating
    "fill" to stretch
  */
  object-fit: contain;
  width: 100%;
  height: auto;
}
.height {
  height: 80vh;
}
.fullwidth {
  width: 100%;
  height: 100%;
}
.cover {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.contain {
  object-fit: contain;
}

.fill {
  object-fit: cover;
}

.about-img {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
}
.navbar__link {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.01em;
}
a {
  cursor: pointer;
}

img {
  transition: 1.3s;
}
a:hover {
  text-decoration: underline;
}

.centerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.center {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.rightbox {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 10px;
}

.about-text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 {
  background: rgba(0, 0, 0, 0.4);
  margin: 2.4rem;
  padding: 0.5rem 1.2rem 0.7rem 1.2rem;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 20px;
  opacity: 0;
  transition: all 0.2s linear;
}

.wrapper:hover .project1 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project2 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project3 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project4 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project5 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project6 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project7 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project8 {
  z-index: 100;
  opacity: 1;
}
.leftbox {
  width: 50%;
}

.about-container {
  display: flex;
}

.container {
  padding-top: 100px;
  max-width: 1500px;
  max-width: 80%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.textbox {
  padding: 20px;
}

.vidwrapper {
  width: 100%;
  height: 100%;
}
.vidwrapperhalf {
  min-width: 50%;
  min-height: 50%;
}

.specialimagewrapper {
  min-width: 50%;
  min-height: 50%;
}

.videoi {
  object-fit: cover;
}
.title {
  font-weight: 700;
  font-size: var(--title-size);
  color: #515151;
  margin-bottom: 0;
}

.text {
  padding-top: 0;
  margin-top: 0;
  font-size: var(--text-size);
  color: #515151;
}

.smallgap {
  gap: 14px;
}
.lg-counter {
  display: none !important;
}
.fullscreen {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 100px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.imagewrapper {
  margin-bottom: 16px;
}

.blackbg {
  background-color: black;
  height: 100%;
  padding-bottom: 20px;
}

.blackfooter {
  margin: 0;
  /*  padding: 20px; */
  font-size: 0.6rem;
  background-color: black;
  color: white;
}

.twoimages {
  display: flex;
  flex-direction: row;
}
.imagefit {
  height: 100%;
  width: auto;
}

.copyright {
  font-size: 0.6rem;
}
.footer-wrapper {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.whitefooter {
  margin: 0;
  /* padding: 20px; */
  font-size: 0.6rem;
  background-color: white;
  color: black;
}
@media (max-width: 779px) {
  .container {
    max-width: 85%;
  }
  .maincontainer {
    display: flex;
    flex-direction: column;
  }

  .leftbox {
    width: 0;
  }
  .rightbox {
    width: 100%;
  }

  .twoimages {
    flex-direction: column;
    gap: 24px;
  }

  .smallgap {
    gap: 0;
  }
}
@media (max-width: 500px) {
  .navbar__link {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .navbar__link {
    font-size: 0.875rem;
  }
}
@media (max-width: 350px) {
  .navbar__link {
    font-size: 0.675rem;
  }
}
