@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */

.wrapper {
  position: relative;
}
.maincontainer {
  padding: 16px;
  /*   width: 100vw;
  height: 100vh; */

  gap: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
}

.imglink {
  background-color: gainsboro; /* To visualize empty space */
  /*  aspect-ratio: 16/9; */
  /*
    "contain" to see full original image with eventual empty space
    "cover" to fill empty space with truncating
    "fill" to stretch
  */
  object-fit: contain;
  width: 100%;
  height: auto;
}

.about-img {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
}
.navbar__link {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.01em;
}
a {
  cursor: pointer;
}

img {
  transition: 1.3s;
}
a:hover {
  text-decoration: underline;
}

.centerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.center {
  margin: 0 auto;
  text-align: center;
}

.rightbox {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 10px;
}

.about-text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 {
  background: rgba(0, 0, 0, 0.4);
  margin: 2.4rem;
  padding: 0.5rem 1.2rem 0.7rem 1.2rem;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 20px;
  opacity: 0;
  transition: all 0.2s linear;
}

.wrapper:hover .project1 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project2 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project3 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project4 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project5 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project6 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project7 {
  z-index: 100;
  opacity: 1;
}
.wrapper:hover .project8 {
  z-index: 100;
  opacity: 1;
}
.leftbox {
  width: 50%;
}

.about-container {
  display: flex;
}

.container {
  padding-top: 100px;
  max-width: 1500px;
  max-width: 80%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.textbox {
  padding: 20px;
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
  color: #515151;
  margin-bottom: 0;
}

.text {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.25rem;
  color: #515151;
}

.smallgap {
  gap: 10px;
}
.lg-counter {
  display: none !important;
}
.fullscreen {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 100px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.imagewrapper {
  margin-bottom: 16px;
}

.blackbg {
  background-color: black;
}

.twoimages {
  display: flex;
  flex-direction: row;
}

@media (max-width: 779px) {
  .container {
    max-width: 85%;
  }
  .maincontainer {
    display: flex;
    flex-direction: column;
  }

  .leftbox {
    width: 0;
  }
  .rightbox {
    width: 100%;
  }
}
