.wrapper {
  position: relative;
}

.container {
  padding: 70px 26px 16px 26px;
}
.textbox {
  padding: 30px 50px;
  max-width: 1600px;
}

.title {
  font-weight: 700;
  font-size: var(--title-size);
  color: #515151;
  margin-bottom: 0;
}

.text {
  padding-top: 0;
  margin-top: 0;
  font-size: var(--text-size);
  color: #515151;
}

.lg-counter {
  display: none !important;
}

.imagewrapper {
  padding-bottom: 16px;
}

.blackbg {
  background-color: black;
}

.twoimages {
  display: flex;
  flex-direction: row;
}
